<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
	$(document).ready(function(){
	    if (navigator.userAgent.search("MSIE") >= 0) {
            $('#Browser').html("Browser is InternetExplorer");
        }
        //Check if browser is Chrome or not
        else if (navigator.userAgent.search("Chrome") >= 0) {
            $('#Browser').html("Browser is Chrome");
        }
        //Check if browser is Firefox or not
        else if (navigator.userAgent.search("Firefox") >= 0) {
            $('#Browser').html("Browser is FireFox");
        }
        //Check if browser is Safari or not
        else if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
            $('#Browser').html("Browser is Safari");
        }
        //Check if browser is Opera or not
        else if (navigator.userAgent.search("Opera") >= 0) {
            $('#Browser').html("Browser is Opera");
        }
        $('#WindowWidth').html($(window).width());
        $('#WindowHeight').html($(window).height());

    $("#image1").hover(function(){
    	$('#image1').attr( "src" , "<%= image_path "jquery.png"%>" );
    });
    $("#button1").click(function(){
    	$(this).css('background-color','blue');
    });
	
	var slideIndex = 0;
	showSlides();

	function showSlides() {
	    var i;
	    var slides = document.getElementsByClassName("mySlides");
	    var dots = document.getElementsByClassName("dot");
	    for (i = 0; i < slides.length; i++) {
	       slides[i].style.display = "none";  
	    }
	    slideIndex++;
	    if (slideIndex > slides.length) {slideIndex = 1}    
	    for (i = 0; i < dots.length; i++) {
	        dots[i].className = dots[i].className.replace(" active", "");
	    }
	    slides[slideIndex-1].style.display = "block";  
	    dots[slideIndex-1].className += " active";
	    setTimeout(showSlides, 2000); // Change image every 2 seconds
	}

	function checkPassword(str)
	{
	   var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
	   return re.test(str);
	}

	$("#address").click(function(){
		$('#paddress').val($('#caddress').val());
		$("#paddress").attr("disabled", "disabled"); 
	})

	$("#form").submit(function(){
    	if(form.password.value == form.cpassword.value) {
	     	if(!checkPassword(form.password.value)) {
	        alert("The password you have entered is not valid!, Your Password must be of Minimum 6 characters, Capital letter, small letter, special character");
	        form.password.focus();
	        }
	    	else{
	    		alert("All Validations true");
	    	}
    	} else {
      	alert("Confirm Password should be same as Password");
      	form.password.focus();
      	return false;
    	}
    	return true;
    });

    $("#urltoiframe").click(function(){
    	$("iframe").attr('src', $("#url").val())
    })
	
	})


</script>
<style type="text/css">
	#button1{
		background-color: #f44336;
		border: none;
		padding: 14px 40px;
	}
	* {box-sizing: border-box}
	body {font-family: Verdana, sans-serif; margin:0}
	.mySlides {display: none}
	img {vertical-align: middle;}

	/* Slideshow container */
	.slideshow-container {
	  max-width: 1000px;
	  position: relative;
	  margin: auto;
	}

	/* Next & previous buttons */
	.prev, .next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -22px;
	  color: white;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
	  background-color: rgba(0,0,0,0.8);
	}

	/* Caption text */
	.text {
	  color: #f2f2f2;
	  font-size: 15px;
	  padding: 8px 12px;
	  position: absolute;
	  bottom: 8px;
	  width: 100%;
	  text-align: center;
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: #f2f2f2;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}

	/* The dots/bullets/indicators */
	.dot {
	  cursor: pointer;
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  background-color: #717171;
	}

	/* Fading animation */
	.fade {
	  -webkit-animation-name: fade;
	  -webkit-animation-duration: 1.5s;
	  animation-name: fade;
	  animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}

	@keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}

	/* On smaller screens, decrease text size */
	@media only screen and (max-width: 300px) {
	  .prev, .next,.text {font-size: 11px}
	}

</style>
</head>
<body>
	<div align="center">
	<p >
	<h3>Web Browser Information</h3>
	Browser is <div id="Browser"></div>
	Width is <div id="WindowWidth"></div>
	Height is <div id="WindowHeight"></div>	</p>
	</div>

	<p><h3>Image Hover Task</h3>
	<%= image_tag("html.png", :height => 100, :id => "image1" ) %>
	<br>
	</p>

	<div  align="right" >
	<p><h3>Button Click Colour Change</h3>
	<button id="button1"> Click Me</button></p>
	</div>

	<h3  align="center" >SlideShow</h3>
	<div align="center" class="slideshow-container">
	<div class="mySlides fade">
	  <div class="numbertext">1 / 3</div>
	  <%= image_tag("css.jpg", :width => 900, :height => 400 ) %>
	  <div class="text">Caption Text</div>
	</div>

	<div class="mySlides fade">
	  <div class="numbertext">2 / 3</div>
	  <%= image_tag("jquery.png", :width => 500, :height => 400 ) %>
	  <div class="text">Caption Two</div>
	</div>

	<div class="mySlides fade">
	  <div class="numbertext">3 / 3</div>
	  <%= image_tag("html.png", :width => 300, :height => 400 ) %>
	  <div class="text">Caption Three</div>
	</div>

	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>

	</div>
	<br>

	<div style="text-align:center">
	  <span class="dot" onclick="currentSlide(1)"></span> 
	  <span class="dot" onclick="currentSlide(2)"></span> 
	  <span class="dot" onclick="currentSlide(3)"></span> 
	</div>


	<h3>Form with validations</h3>
	<form id="form">
	<section>
		<p><label for="fname">First Name</label>
		<input type="text" name="fname" required pattern="[a-zA-Z]{5,}" title="Minimum 5 letters"></p>

		<p><label for="mname"> Middle Name  </label>
		<input type="text" name="mname" pattern="[a-zA-Z]{1,}"></p>

		<p><label for="lname">Last Name  </label>
		<input type="text" name="lname" pattern="[a-zA-Z]{1,}"></p>

		<p><label for="email"> Email</label>
		<input id="email" type="email" name="email" required></p>

		<p><label for="password"> Password</label>
		<input type="password" name="password" required pattern=".{6,}" title="Six or more characters"></p>

		<p><label for="cpassword"> Confirm Password</label>
		<input type="password" name="cpassword" required pattern=".{6,}" title="Six or more characters"></p>

	</section>

	<section>
		<p><label for="caddress"> Current Address</label>
		<textarea rows="4" cols="50" id="caddress" form="form">Enter Address here...</textarea></p>
	
		<p>
		<label for="paddress"> Permanent Address</label>
		<textarea rows="4" cols="50" id="paddress" form="form"></textarea>
		<input type="checkbox" id="address">same as Current Address</p>
	</section>

	<section>
		<p><input id="submit" type="submit"></p>
	</section>
	</form>

	<h3>Iframe</h3>
	<p><iframe id="iframe" src=""></iframe></p>
	<p>
	<input type="url" id="url">
	<button id="urltoiframe"> Enter Url n click</button>
	</p>


</body>
</html>